target/
target_*/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
**/resourcesmaster-data.xml.new
**/h2.sql
/tasktracker/grants/grants-source/nbproject/
/insights-server/insights-server-ejb/nbproject/
client/**/bin
client/**/obj
client/**/*.suo
client/Insights.Administration/Insights.Administration/Insights.Administration.csproj.user
/insights-flow/insights-flow-wsimpl/nbproject/
/insights-server/insights-module/nbproject/
insights-server/insights-module/src/test/resourcesmaster-data.xml.new
**/node_modules/
insights-flow/floweditor/src/main/webapp/1.bundle.js
insights-flow/floweditor/src/main/webapp/1.bundle.js.map
insights-flow/floweditor/src/main/webapp/bundle.js
insights-flow/floweditor/src/main/webapp/bundle.js.map
insights-flow/insights-ear-all/src/main/application/META-INF/jboss-app.xml
/insights-flow/insights-web/nbproject/
dist
/customers/extra/extra-siling/nbproject/
insights-flow/insights-web/src/main/webapp/**/*.css
insights-flow/insights-web/src/main/webapp/**/*.map
insights-flow/admin/src/main/webapp/**/*.css
insights-flow/admin/src/main/webapp/**/*.map
insights-flow/floweditor/src/main/webapp/**/*.css
insights-flow/floweditor/src/main/webapp/**/*.css.map
insights-server/insights-server-ejb/src/main/resources/css/gen3/all.css
insights-server/insights-server-ejb/src/main/resources/css/gen3/all.css.map
insights-server/insights-server-ejb/src/main/resources/css/iw/all.css
insights-server/insights-server-ejb/src/main/resources/css/iw/all.css.map
insights-server/insights-server-ejb/src/main/resources/css/ew/**/*.css
insights-server/insights-server-ejb/src/main/resources/css/ew/**/*.css.map
.idea/
**/.idea
**/*.iml
**/*.iws
**/*.uuid
atlassian-ide-plugin.xml
insights-flow/floweditor/src/main/webapp/dist/
insights-flow/insights-web/src/main/webapp/WEB-INF/jboss-web.xml
insights-flow/admin/nb-configuration.xml
**/rebel.xml
insights-flow/insights-web/src/main/webapp/WEB-INF/jboss-web.xml
insights-flow/floweditor/src/main/webapp/dist
insights-flow/web/components/core/dist
**/.classpath
**/.project
**/.settings
**/.gradle
**/.factorypath
# unit test results
junit.xml
insights-flow/insights-web/src/main/webapp/npm-debug.log
npm-debug.loginsights-flow/floweditor/src/main/webapp/dist
insights-flow/insights-web/src/main/webapp/npm-debug.log
npm-debug.log
insights-flow/insights-ear-all/nbactions-Bufdir.xml
insights-flow/insights-web/nbactions-Web-With-JRebel.xml
npm-debug.log
insights-flow/insights-ear-all/nbactions-Bufdir.xml
insights-flow/insights-web/nbactions-Web-With-JRebel.xml
insights-flow/insights-web/nb-configuration.xml
insights-flow/web/dist/**/*
insights-flow/web/dist/**/*
/customers/base-importer/nbproject/
insights-server/insights-server-ejb/nbactions.xml
nbactions.xml
insights-flow/insights-web/nbactions.xml
insights-flow/web/components/**/dist/
insights-flow/gma/build
nb-configuration.xml
insights-flow/insights-web/nbactions-Web-Jenkins2.xml/customers/sparebankstiftelsen/sbs-importer/nbproject/insights-flow/insights-web/nbactions-Web-Jenkins2.xml
/customers/sparebankstiftelsen/sbs-importer/nbproject/
**/nbactions.xml
/customers/extra/extra-plukk-rangering/nbproject/
**/.vscode
**/.vscodium
/customers/bergen-kommune/insights-flow-wsimpl-bergenkommune/nbproject/
/customers/nffo/nffo-importer/nbproject/
/one-off-apps/gestalt-script-generator/script-auto-completer/nbproject/
customers/extra/jasperreports/.metadata
**/*.code-workspace
/officeaddins/InsightsOutlookAddIn/InsightsOutlookAddIn/bin/Debug
/officeaddins/InsightsOutlookAddIn/InsightsOutlookAddIn/obj/Debug
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/604928044.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/4278294896.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/4047496576.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/3548761756.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/2645924851.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/2445232755.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/2295729068.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/2142118396.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/1198319528.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.core.resources/.history/b3/604b2059be4f001915e7b864ea10ed81
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.core.resources/.history/45/70901b59be4f001915e7b864ea10ed81
customers/extra/jasperreports/MyReports/.metadata/.plugins/com.jaspersoft.studio/dataAdapters/dataAdapter_1
customers/extra/jasperreports/MyReports/.metadata/.plugins/com.jaspersoft.studio/dataAdapters/dataAdapter_0
insights-server/insights-server-web/src/main/webapp/WEB-INF/services/DocumentService.xml
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/784962553.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/769782975.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/765576594.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/631005655.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/2051750738.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/2028667769.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/1516243795.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/12560847.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.core.resources/.projects/MyReports/.syncinfo.snap
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.core.resources/.projects/MyReports/.markers.snap
customers/extra/jasperreports/MyReports/.metadata/.log
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/3435198057.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/3239278489.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/2951491230.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.jdt.core/2679101689.index
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.core.resources/.snap
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
customers/extra/jasperreports/MyReports/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
/insights-flow/insights-flow-wsintf/nbproject/
**/.settings/org.eclipse.jdt.core.prefs

!insights-flow/admin/src/main/webapp/js/lib/ckeditor-full/plugins/**/*.css
!insights-flow/admin/src/main/webapp/js/lib/ckeditor/plugins/**/*.css
!insights-flow/insights-web/src/main/webapp/js/lib/ckeditor/plugins/**/*.css

# use package-lock.json as the authorative source and generate these
pnpm-lock.yaml
# generated from strings_*.properties
insights-flow/web/components/core/resources/strings_*.json

# Python
**.pyc

nohup.out
customers/bufdir/jasper-reports/.metadata
customers/common-reports/.metadata
customers/kreftforeningen/jasperreports/.metadata
/insights-api/src/main/webapp/swagger/
insights-flow/insights-web/src/main/webapp/cssmap.json
**.db
**/node-download/
Kiegle6307.zip