@font-face {
    font-family: 'sa-digital-number'; src: url('./resources/font/DigitalNumbers-Regular.eot');
}
@font-face {
    font-family: 'sa-digital-number'; src: url('./resources/font/DigitalNumbers-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.cursor-pointer { cursor: pointer; }

th.score { width: 120px; }
button.score { width: 48px; }

.scoreboard {
    background-color: #333; padding: 8px; color: #e6ffac; text-shadow: 0 0 12px #87f324, 0 0 18px #288903; box-sizing: border-box; max-width: 1200px; font-family: 'sa-digital-number', "Times New Roman"; font-size: 36px; width: 100%; display: flex; flex-direction: row;
    &:empty { display: none; }
}

.scoreboard span {
    text-align: center; display: inline-block; padding: 0; margin: 0; flex-grow: 2; cursor: pointer; border: 1px solid transparent;
}
.scoreboard span:focus-within { outline: none; box-shadow: 0 0 15px rgba(81, 203, 238, 1); border: 1px solid rgba(81, 203, 238, 1); }
.scoreboard span.sep { border-right: solid red 1px; }
